.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  min-height: 100vh;
  background: linear-gradient(to right, #040404, #00000000);
}

.app-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffffff;
}


body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  min-height: 100vh;
  overflow-y: auto;   /* ✅ ensures page can scroll */}